flows.json
[{"id":"d1a9a60d.2d63f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9e40c5de.56f258","type":"function","z":"d1a9a60d.2d63f8","name":"PreToken","func":"global.set(\"pg\",msg.payload.pg)\nglobal.set(\"gc\",msg.payload.gc)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"il\",msg.payload.il)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"dpf\",msg.payload.dpf)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"5b6m66dquTM7wRgRIePDG_ZrALMYaoW8j6SZlQ86CpWg\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":380,"wires":[["351c60a7.517c2"]]},{"id":"351c60a7.517c2","type":"http request","z":"d1a9a60d.2d63f8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":368.9999952316284,"wires":[["de5bc714.c279b8"]]},{"id":"2f475f09.08184","type":"inject","z":"d1a9a60d.2d63f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":240,"wires":[["9e40c5de.56f258"]]},{"id":"7b4cd8c2.b487b8","type":"debug","z":"d1a9a60d.2d63f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":898.0000114440918,"y":110.99999713897705,"wires":[]},{"id":"de5bc714.c279b8","type":"function","z":"d1a9a60d.2d63f8","name":"prediction","func":"var pg = global.get('pg')\nvar gc = global.get('gc')\nvar bp = global.get('bp')\nvar st = global.get('st')\nvar il = global.get('il')\nvar bmi = global.get('bmi')\nvar dpf = global.get('dpf')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"eeedf47f-768e-4516-9a52-b175fb315d73\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Pregnancies\", \"Glucose\", \"BloodPressure\", \"SkinThickness\", \"Insulin\", \"BMI\", \"DiabetesPedigreeFunction\", \"Age\"], \"values\": [[pg,gc,bp,st,il,bmi,dpf,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":636.0000076293945,"y":331.9999990463257,"wires":[["715fefa9.1fe59"]]},{"id":"715fefa9.1fe59","type":"http request","z":"d1a9a60d.2d63f8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/9bef55bd-cf31-43ad-8bd1-830e6f0d2dd5/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":275.9999990463257,"wires":[["6703e0d1.b9332"]]},{"id":"8c570247.1aa3c","type":"ui_form","z":"d1a9a60d.2d63f8","name":"","label":"","group":"176cb046.7ae2","order":0,"width":0,"height":0,"options":[{"label":"Pregnancies","value":"pg","type":"number","required":true,"rows":null},{"label":"Glucose","value":"gc","type":"number","required":true,"rows":null},{"label":"Blood Pressure","value":"bp","type":"number","required":true,"rows":null},{"label":"Skin Thickness","value":"st","type":"number","required":true,"rows":null},{"label":"Insulin","value":"il","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Diabetes Pedigree Function","value":"dpf","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"pg":"","gc":"","bp":"","st":"","il":"","bmi":"","dpf":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":440,"wires":[["9e40c5de.56f258"]]},{"id":"83c4fefe.15166","type":"ui_text","z":"d1a9a60d.2d63f8","group":"176cb046.7ae2","order":1,"width":0,"height":0,"name":"","label":"Outcome","format":"{{msg.payload}}","layout":"row-spread","x":787.6000366210938,"y":428.20000743865967,"wires":[]},{"id":"6703e0d1.b9332","type":"function","z":"d1a9a60d.2d63f8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.6000366210938,"y":171.60000133514404,"wires":[["7b4cd8c2.b487b8","83c4fefe.15166"]]},{"id":"176cb046.7ae2","type":"ui_group","z":"","name":"Default","tab":"f81fda36.934b88","order":1,"disp":true,"width":"6","collapse":false},{"id":"f81fda36.934b88","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]